{% extends "base.html" %}


{% block style %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename = 'home.css') }}">
    <script  src = "{{ url_for('home_app.static', filename = 'script.js') }}" defer></script>
{% endblock %}


{% block title %} 
    Home 
{% endblock %}



{% block content %}
<div class = "recall">
    <form method = 'POST' name = "recall">  
        <input type="hidden" name="recall" value="true">
        <h2>Ваше ім'я:</h2>
        <input type="text" name = "Name"> 
        <h2>Ваша електрона пошта:</h2>
        <input type="text" name = "Email"> 
        <h2>Ваш відгук:</h2>
        <textarea name="recall_text"></textarea>
        <input type="hidden" name="recall" value="true">
        <button type="submit" id="send_info" class="btn1">Відправити Відгук</button>
        
    </form>
</div>

{% endblock %}


