{% extends "base.html" %} 

{% block style %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename = 'auth.css') }}">
{% endblock %}

{% block title %}
Log in
{% endblock %}
{% block content %}

<div class="login">
  <form method = "post" id = "auth_content" class="auth">
    <h2>Ваш логін</h2>
    <input type="text" name = "Login">
    <h2>Ваш пароль</h2>
    <input type="password" name = "Password">
    <button class="btn1">Авторизуватися</button>
  </form>
</div>
{% endblock %}