{% extends "base.html" %} 


{% block style %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename = 'user.css') }}">
{% endblock %}

{% block title %}
Registration
{% endblock %}
{% block content %}

<div class = "registration">
  <form method = "post" id = "auth_content" class = "reg">
    <h2>Придумайте ваш логін:</h2>
    <input type="text" name = "Login">
    <h2>Придумайте пароль:</h2>
    <input type="password" name = "Password">
    <button class = "btn1">Зареєструватися</button>
  </form>
</div>
{% endblock %}